@model PartialViewsDemo.Models.Entree

@{
    ViewBag.Title = "Details";
}

@Html.ActionLink("<< Back to Index", "Index")

<h2>@Model.Name</h2>


@*Render using RenderPartial()*@
<p>Ingredients: @{ Html.RenderPartial("Ingredients", Model.Ingredients); }</p>